<div id="header-post">
	<button class="button"><%= link_to "New Post", new_post_path %></button>
</div>
	<% @posts.each do |post| %>
		<div class="post_wrapper">
			<p class="date">Status : 
				<% if post.status = 'f' %>
					False
				<% else %>
					True
				<% end %>
			</p>
			<h2 class="title"><%= link_to post.title, post %></h2>
			<h4 class="title">Tags : <%= post.tag_list %></h4>
			<p class="date"><%= post.created_at.strftime("%B, %d, %Y") %></p>

			<% if user_signed_in? %>
				<%= link_to 'Edit', edit_post_path(post.id), class: "action button" %>
				<%= link_to 'Delete', post_path(post.id), method: :delete, data:{confirm: 'Are You Sure?'}, class: "action button" %>
			<% end %>
		</div>
	<% end %>
<div id="infinite-scrolling"><%= will_paginate @posts%></div>
